    body {
        font-family: 'Roboto', sans-serif;
        background-color: rgb(37, 49, 59);
        font-size: 16px;
    }
    
    .card_image {
        width: 100%;
    }
    
    h1 {
        color: #FFFF;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-top: 30px;
    }
    
    .container {
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #del {
        position: relative;
        left: 93%;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    
    .get_more_info {
        width: 100%;
        height: 50px;
        text-transform: uppercase;
        background: #2e859e;
        color: rgb(209, 209, 209);
        border: 1px solid rgb(209, 209, 209);
        font-weight: bold;
        cursor: pointer;
        margin: 0 0 20px 0;
    }
    
    .get_more_info:hover {
        background: rgb(209, 209, 209);
        color: #2e859e;
        border-color: #2e859e;
        transition: 0.5s ease-in-out;
    }
    
    .card_container {
        width: 200px;
        height: 560px;
        padding: 10px;
        margin: 10px;
        border: 1px solid rgb(204, 55, 55);
        border-radius: 5px;
        background-color: rgb(225, 238, 250);
        cursor: pointer;
    }
    
    .card_image {
        margin: 0 auto;
    }
    
    .card_image,
    .card_info-title,
    .card_info_year-genre {
        margin-bottom: 5px;
    }
    
    .card_info-title {
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        color: #2e859e;
    }
    
    .card_info-title:hover {
        text-decoration: underline;
    }
    
    .card_info_year-genre {
        color: #777;
    }
    
    .card_info-genre {
        display: inline;
    }
    
    .display-none {
        display: none;
    }
    
    #more {
        width: 130px;
        height: 50px;
        margin: 20px auto 0 auto;
        background: rgb(20, 20, 80);
        color: aliceblue;
        border-style: none;
        border: 3px solid rgb(153, 153, 153);
    }
    
    #more:active {
        background: rgb(5, 5, 82);
        border: 1px solid rgb(153, 153, 153);
        color: #FFFF;
    }
    
    .page-more {
        margin: 20px 0 50px 0;
        display: flex;
        flex-direction: column;
    }
    
    #page {
        width: 50px;
        margin: 0 auto;
        border: 1px solid white;
        color: white;
        padding: 2px 5px;
    }
    
    .btn,
    #page {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    
    .btn {
        background: transparent;
        cursor: pointer;
    }
    
    .popuptext {
        position: fixed;
        left: 50%;
        top: 10px;
        margin-left: -250px;
        visibility: hidden;
        width: 30%;
        border: 10px solid rgb(20, 20, 80);
        border-radius: 6px;
        background-color: rgb(198, 227, 253);
        padding: 20px;
    }
    
    .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s
    }
    
    .popup_title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
    }
    
    .popup_poster {
        width: 25%;
        display: block;
        margin: 0 auto 20px auto;
    }
    
    .popup_highlight {
        margin-bottom: 10px;
        font-weight: bold;
    }
    
    .popup_highlight-elem {
        font-weight: normal;
    }
    
    .popup_critics {
        display: block;
        text-indent: 20px;
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: bold;
    }
    
    @-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }